// =========== VERSION DESKTOP ===========
@media (min-width: 1024px) {
  body {
    margin: 0;
    background: $color-bg;
  }

  .location {
      box-shadow: none;
  }

  .intro {
    padding: 1.5em 0 2em 0em;
    h1 { font-size: 2.3rem; }
    p { font-size: 1.16em; }
    margin-bottom: 0em
  }

  .steps {
    padding: 0em 15em 2em 15em;
    h2 {
      margin-left: 0;
      font-size: 1.4em;
      margin-bottom: 1.3em;
    }
    ol {
      flex-direction: row;
      justify-content: center;
      gap: 2.5em;
    }
    li {
      min-width: 260px;
      font-size: 1.07em;
      margin-left: 0;
      margin-bottom: 0;
      padding: 1.3em 1em 1.3em 3.2em;
      background: $color-bg;
    }
  }

  .restaurants {
    margin: 0 auto 2em auto;
    padding: 2em 15em 3em 15em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5em 3em;
    align-items: start;
    h2 {
      grid-column: 1 / -1;
      font-size: 1.5em;
      margin-left: 0;
      font-size: 1.4em;
      margin-bottom: 0em;
    }
    .card {
      margin: 0;
      min-width: 330px;
      max-width: 98%;
      .card-img {
        height: 205px;
      }
      .badge {
        top: 18px;
        right: 18px;
        font-size: 1em;
      }
    }
  }

  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    padding: 1em 3em 1em 3em;
    p {
      font-family: 'Shrikhand', cursive;
      font-size: 1.1em;
      margin-top: 2em;
      margin-left: 3em;
    }
    ul {
      display: flex;
      flex-direction: row;
      gap: 2em;
      margin: 0;
      li {
        margin-top: 2em;
        margin-left: 0;
        font-size: 1em;
        a { font-size: 1em; }
      }
    }
  }
}