
$color-bg: #f6f6f6;
$color-white: #fff;
$color-dark: #353535;
$color-grey: #7e7e7e;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-footer: #353535;
$color-badge: #99E2D0;
$shadow: 0 4px 14px 0 rgba(0,0,0,0.07);